Repository lynx-family/lynx-stack, pull requests merged in 2025-09, with the labels that each got.

#1649 fix(web): register attr of width is set to height incorrectly
  .changeset/nine-numbers-push.md
  packages/web-platform/web-elements/src/XCanvas/CanvasAttributes.ts
Labels: platform:Web

#1635 ci(benchmark/react): enable list in benchmark
  benchmark/react/cases/002-hello-reactLynx/RecursiveText.tsx
  benchmark/react/cases/002-hello-reactLynx/index.tsx
  benchmark/react/cases/003-hello-list/index.tsx
  benchmark/react/lynx.config.js
  benchmark/react/package.json
  benchmark/react/src/hook.ts
  benchmark/react/src/patchProfile.ts
  benchmark/react/src/patchUpdateListCallbacks.ts
  packages/lynx/benchx_cli/scripts/build.mjs
  packages/lynx/benchx_cli/scripts/prepare.mjs
  pnpm-lock.yaml
Labels: framework:React

#1641 fix: should only recycle off-screen list-item in recursive hydration
  .changeset/plenty-kiwis-live.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/hydrate.ts
Labels: framework:React

#1581 feat(react): support nested list
  .changeset/kind-insects-provide.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/utils/nativeMethod.ts
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/listUpdateInfo.ts
  packages/react/runtime/src/lynx/calledByNative.ts
  packages/react/runtime/src/pendingListUpdates.ts
  packages/react/runtime/src/snapshot.ts
Labels: framework:React

#1658 chore(web): list-waterfall-1000 layout count was changed to 10 for st…
  packages/web-platform/web-tests/tests/performance.test.ts
Labels: platform:Web

#1653 feat: allow user customize `react$` alias
  .changeset/weak-mirrors-admire.md
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react/test/config.test.ts
Labels: framework:React

#1655 ci(benchmark/react): background setAttribute `BatchedValues`
  benchmark/react/cases/004-various-update/index.tsx
  benchmark/react/src/hook.ts
  packages/react/runtime/lazy/internal.js
  packages/react/runtime/src/internal.ts
Labels: framework:React

#1692 fix: should update signMap before __FlushElementTree
  .changeset/healthy-maps-clean.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/list.ts
Labels: framework:React

#1713 refactor(react/transform): remove unused params
  .changeset/afraid-lies-grab.md
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_list/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Labels: framework:React

#1714 refactor(react/transfrom): migrate to Cargo workspace
  .changeset/fluffy-cougars-post.md
  Cargo.toml
  packages/react/transform/Cargo.toml
  packages/web-platform/web-style-transformer/Cargo.toml
Labels: platform:Web, framework:React

#1746 ci(benchmark/react): disable setting GCThreshold to int_max when frozen mode
  packages/lynx/benchx_cli/scripts/build.mjs
Labels: framework:React

#1235 feat(web): implement lazy bundle
  .changeset/fluffy-masks-mate.md
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/types/MarkTiming.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-constants/src/types/TemplateLoader.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/createRenderMultiThread.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/crossThreadHandlers/createQueryComponent.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-blank/index.css
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-blank/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-multi/index.css
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-multi/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css/index.css
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-effect/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-fail/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-multi-import/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-multi/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-relative-path/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-when-need-with-itself/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-when-needed/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-bindtap/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-blank/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-blank/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-other/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-other/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-use-effect/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component.config.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/startBackgroundThread.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Labels: platform:Web

#1750 refactor(react/runtime): move `delayedRunOnMainThreadData` to a separate file
  .changeset/thirty-dots-sink.md
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/worklet/delayedRunOnMainThreadData.ts
  packages/react/runtime/src/worklet/runOnMainThread.ts
Labels: framework:React

#1753 refactor(react/runtime): reorganize worklet dir
  .changeset/eager-feet-kick.md
  packages/react/runtime/__test__/snapshot/workletRefBG.jsx
  packages/react/runtime/__test__/snapshot/workletRefMT.jsx
  packages/react/runtime/__test__/utils/envManager.ts
  packages/react/runtime/__test__/worklet/execIdMap.test.js
  packages/react/runtime/__test__/worklet/runOnBackground.test.js
  packages/react/runtime/__test__/worklet/runOnMainThread.test.jsx
  packages/react/runtime/__test__/worklet/transform.test.js
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/worklet/call/delayedRunOnMainThreadData.ts
  packages/react/runtime/src/worklet/call/execMap.ts
  packages/react/runtime/src/worklet/call/functionCall.ts
  packages/react/runtime/src/worklet/call/runOnBackground.ts
  packages/react/runtime/src/worklet/call/runOnMainThread.ts
  packages/react/runtime/src/worklet/call/transformToWorklet.ts
  packages/react/runtime/src/worklet/ctx.ts
  packages/react/runtime/src/worklet/destroy.ts
  packages/react/runtime/src/worklet/ref/workletRef.ts
  packages/react/runtime/src/worklet/ref/workletRefPool.ts
Labels: framework:React

#1709 fix: add sandbox attribute to iframe for enhanced security
  .changeset/rich-candles-think.md
  .changeset/rude-owls-cheer.md
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/tests/react.spec.ts
Labels: platform:Web

#1760 fix: spread inside list-item cause redundant snapshot patch
  .changeset/tasty-towns-guess.md
  packages/react/runtime/src/snapshot/spread.ts
  packages/react/testing-library/src/__tests__/list.test.jsx
Labels: framework:React

#1739 fix(web): temporarily remove support for chunk split
  .changeset/many-actors-count.md
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Labels: platform:Web

#1763 fix(web): __QueryComponentImpl execute only once
  .changeset/calm-houses-jog.md
  packages/web-platform/web-mainthread-apis/src/crossThreadHandlers/createQueryComponent.ts
Labels: platform:Web

#1736 refactor: impl __SNAPSHOT__ at runtime
  .changeset/spotty-experts-smoke.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/__test__/utils/globals.js
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_list/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract_it.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_list_toplevel.js
Labels: framework:React

#1773 fix(tailwind-preset): set default transform css vars on * instead of :root to avoid inheritance
  .changeset/modern-squids-love.md
  examples/tailwindcss/src/App.tsx
  examples/tailwindcss/tailwind.config.ts
  packages/third-party/tailwind-preset/src/plugins/lynx/defaults.ts
Labels: platform:Web

#1768 feat(react/runtime): support `SelectorQuery` `animation` APIs
  .changeset/fix-ref-proxy-serialization.md
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/__test__/utils/setup.js
  packages/react/runtime/src/lifecycle/ref/delay.ts
  packages/react/testing-library/src/vitest-global-setup.js
Labels: framework:React

#1770 feat(web): support lazy bundle with CSSOG
  .changeset/shiny-toes-punch.md
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-exchange-class/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-inline-css-change-same-time/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-inline-remove-css-remove-inline/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-multi-level-selector/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-all/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-css-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-css-and-style-collapsed/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-inline-style-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-type-selector/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false.config.ts
  packages/web-platform/web-tests/tests/react/basic.config.ts
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-exchange-class/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-exchange-class/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-css-change-same-time/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-css-change-same-time/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-remove-css-remove-inline/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-remove-css-remove-inline/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-multi-level-selector/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-multi-level-selector/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-all/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-all/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-reuse-css/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-style-collapsed/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-style-collapsed/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-inline-style-and-reuse-css/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-inline-style-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-type-selector/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-type-selector/index.jsx
Labels: platform:Web

#1782 refactor: extract `swc_plugin_inject` & `swc_plugins_shared::css`
  .changeset/silver-pandas-teach.md
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_inject/Cargo.toml
  packages/react/transform/crates/swc_plugin_inject/lib.rs
  packages/react/transform/crates/swc_plugin_inject/napi.rs
  packages/react/transform/crates/swc_plugin_inject/tests/__swc_snapshots__/lib.rs/should_inject.js
  packages/react/transform/crates/swc_plugin_inject/tests/__swc_snapshots__/lib.rs/should_inject_callee.js
  packages/react/transform/crates/swc_plugins_shared/Cargo.toml
  packages/react/transform/crates/swc_plugins_shared/css.rs
  packages/react/transform/crates/swc_plugins_shared/lib.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat_post/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Labels: framework:React

#1737 fix(rspeedy/core): use `chunkLoading: 'lynx'` for Web
  .changeset/better-insects-grin.md
  packages/rspeedy/core/src/plugins/chunkLoading.plugin.ts
  packages/rspeedy/core/test/plugins/chunkLoading.plugin.test.ts
  packages/web-platform/web-tests/rspack.config.js
Labels: platform:Web

#1794 fix: lazy component load error
  .changeset/hip-coats-drop.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
Labels: platform:Web

#1800 fix!: remove `enableICU`
  .changeset/two-parks-reply.md
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/__snapshots__/cases.test.ts.snap
Labels: framework:React

#1807 chore: add @lynx-js/web-rsbuild-server-middleware
  .changeset/config.json
  .changeset/slow-radios-rescue.md
  packages/web-platform/tsconfig.json
  packages/web-platform/web-rsbuild-server-middleware/LICENSE.txt
  packages/web-platform/web-rsbuild-server-middleware/Notice.txt
  packages/web-platform/web-rsbuild-server-middleware/README.md
  packages/web-platform/web-rsbuild-server-middleware/package.json
  packages/web-platform/web-rsbuild-server-middleware/rsbuild.config.ts
  packages/web-platform/web-rsbuild-server-middleware/rslib.config.ts
  packages/web-platform/web-rsbuild-server-middleware/src/node/index.ts
  packages/web-platform/web-rsbuild-server-middleware/src/web/index.css
  packages/web-platform/web-rsbuild-server-middleware/src/web/index.ts
  packages/web-platform/web-rsbuild-server-middleware/test/basic.spec.ts
  packages/web-platform/web-rsbuild-server-middleware/tsconfig.json
  packages/web-platform/web-rsbuild-server-middleware/turbo.json
  packages/web-platform/web-rsbuild-server-middleware/vitest.config.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/tests/middleware.spec.ts
  pnpm-lock.yaml
Labels: platform:Web

#1831 chore: update package configuration and remove unused rslib config
  .changeset/lemon-beans-type.md
  packages/web-platform/web-rsbuild-server-middleware/package.json
  packages/web-platform/web-rsbuild-server-middleware/rslib.config.ts
  packages/web-platform/web-rsbuild-server-middleware/tsconfig.json
Labels: platform:Web

#1830 fix: handle `lynx.getJSModule` error on web platform
  .changeset/crazy-jeans-hunt.md
  packages/rspeedy/core/src/plugins/dev.plugin.ts
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
Labels: platform:Web

#1811 fix: change the generation conditions of the css.hot-update.json
  .changeset/eleven-lizards-grin.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
Labels: platform:Web

#1835 feat: add event.stopPropagation
  .changeset/clear-crabs-swim.md
  packages/react/transform/crates/swc_plugin_compat/lib.rs
  packages/react/worklet-runtime/__test__/eventPropagation.test.js
  packages/react/worklet-runtime/__test__/workletRuntime.test.js
  packages/react/worklet-runtime/src/bindings/types.ts
  packages/react/worklet-runtime/src/eventPropagation.ts
  packages/react/worklet-runtime/src/workletRuntime.ts
Labels: framework:React

#1848 chore: remove test `compat/stop-propagation`
  .changeset/quick-clubs-bow.md
  packages/webpack/react-webpack-plugin/test/diagnostic/compat/stop-propagation/expected/rspack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/compat/stop-propagation/expected/webpack.txt
  packages/webpack/react-webpack-plugin/test/diagnostic/compat/stop-propagation/index.jsx
  packages/webpack/react-webpack-plugin/test/diagnostic/compat/stop-propagation/rspack.config.js
  packages/webpack/react-webpack-plugin/test/diagnostic/compat/stop-propagation/webpack.config.js
Labels: framework:React
