Repository lynx-family/lynx-stack, pull requests merged in 2025-03, with the labels that each got.

#130 fix: some valus should be updateable by global scope
  .changeset/modern-forks-unite.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/tests/web-core.test.ts
Labels: web

#150 feat(web): add pixelRatio of SystemInfo
  .changeset/calm-bees-roll.md
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-tests/tests/react/api-SystemInfo/index.jsx
  packages/web-platform/web-worker-runtime/src/index.ts
Labels: enhancement, web

#173 feat(web): add onNapiLoaderCall to mock value handler in lynx-core
  .changeset/huge-cobras-spend.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/MainThreadStartConfigs.ts
  packages/web-platform/web-constants/src/types/NapiModules.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerNapiModulesCallHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNapiLoader.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/startBackgroundThread.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Labels: enhancement, web

#194 feat(web): `createRpcEndpoint` adds a new parameter: `hasReturnTransfer`.
  .changeset/forty-cobras-think.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-tests/shell-project/rpc-test/endpoints.ts
  packages/web-platform/web-tests/shell-project/rpc-test/index.ts
  packages/web-platform/web-tests/shell-project/rpc-test/worker.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/rpc.spec.ts
  packages/web-platform/web-worker-rpc/src/Rpc.ts
  packages/web-platform/web-worker-rpc/src/RpcEndpoint.ts
Labels: enhancement, web

#198 feat: use shadowroot to isolate one lynx-view
  .changeset/soft-dragons-show.md
  .changeset/warm-lamps-spend.md
  packages/web-platform/web-constants/src/types/PageConfig.ts
  packages/web-platform/web-core/index.css
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/apis/inShadowRootStyles.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/bootTimingSystem.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/utils/browser.ts
  packages/web-platform/web-elements/src/XOverlayNg/XOverlayAttributes.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Labels: web

#217 refactor: remove entryId concept
  .changeset/rotten-humans-sniff.md
  .changeset/sharp-cougars-go.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/types/MainThreadStartConfigs.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
  packages/webpack/web-webpack-plugin/src/constants.ts
Labels: web

#220 feat(web): nativeModulesUrl of lynx-view is changed to nativeModulesMap
  .changeset/afraid-shirts-try.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/MainThreadStartConfigs.ts
  packages/web-platform/web-constants/src/types/NativeModules.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-explorer/index.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNapiLoader.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeModules.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/startBackgroundThread.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Labels: enhancement, web

#228 fix(web): width && height lynx-view page should to be 100%
  .changeset/olive-ears-punch.md
  packages/web-platform/web-core/src/uiThread/decodeElementOperation.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/lynx-view/basic-element-lynx-view-not-auto/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/lynx-view/basic-element-lynx-view-not-auto/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/lynx-view/basic-element-lynx-view-not-auto/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-lynx-view-not-auto/index.jsx
Labels: enhancement, web

#240 feat(web): list supports list-type: flow
  .changeset/modern-papayas-boil.md
  packages/web-platform/web-elements/src/XList/XListAttributes.ts
  packages/web-platform/web-elements/src/XList/x-list.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-flow/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-flow/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-flow/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-flow/wheel-x-not-wheelable-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-flow/wheel-x-not-wheelable-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-flow/wheel-y-wheelable-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-flow/wheel-y-wheelable-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-flow/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-flow/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-flow/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-flow/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-flow/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-flow/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-flow/sticky-y-scroll-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-flow/sticky-y-scroll-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-list/basic-flow.html
  packages/web-platform/web-tests/tests/web-elements/x-list/full-span.html
  packages/web-platform/web-tests/tests/web-elements/x-list/scroll-orientation-flow.html
  packages/web-platform/web-tests/tests/web-elements/x-list/sticky-flow.html
Labels: enhancement, web

#261 refactor: clean the decodeOperations implementation
  .changeset/hot-crabs-pick.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/decodeElementOperation.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/createAttributeAndPropertyFunctionsWithContext.ts
Labels: web

#266 refactor: code clean
  .changeset/flat-llamas-start.md
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
Labels: web

#283 fix(web): _reportError API
  .changeset/large-shirts-invent.md
  .changeset/quiet-maps-kiss.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-error/index.jsx
  packages/web-platform/web-worker-rpc/src/TypeUtils.ts
  packages/web-platform/web-worker-rpc/src/index.ts
  packages/web-platform/web-worker-runtime/src/mainThread/crossThreadHandlers/createReportError.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Labels: web

#311 refactor(web): UI handlers to use shadowRoot instead of rootDom
  .changeset/cruel-aliens-hunt.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-core/index.css
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/bootTimingSystem.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/createExposureService.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/queryNodes.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerInvokeUIMethodHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerSelectComponentHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerSetNativePropsHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerTriggerComponentEventHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-core/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/maxlength/index-firefox-linux.png
Labels: web

#313 feat(web): add a new package @lynx-js/offscreen-document
  packages/web-platform/offscreen-document/Notice.txt
  packages/web-platform/offscreen-document/README.md
  packages/web-platform/offscreen-document/package.json
  packages/web-platform/offscreen-document/src/index.ts
  packages/web-platform/offscreen-document/src/main/index.ts
  packages/web-platform/offscreen-document/src/main/initOffscreenDocument.ts
  packages/web-platform/offscreen-document/src/types/ElementOperation.ts
  packages/web-platform/offscreen-document/src/types/index.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenCSSStyleDeclaration.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenEvent.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
  packages/web-platform/offscreen-document/tsconfig.json
  packages/web-platform/tsconfig.json
  pnpm-lock.yaml
Labels: web

#328 fix(web): current implementation passed the main-thread api tests
  .changeset/vast-goats-laugh.md
  packages/web-platform/offscreen-document/src/index.ts
  packages/web-platform/offscreen-document/src/main/index.ts
  packages/web-platform/offscreen-document/src/types/index.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenCSSStyleDeclaration.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenEvent.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenNode.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
Labels: web

#334 feat(web): use pure DOM API to implement Element PAPIs
  .changeset/brown-coats-study.md
  cspell.jsonc
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/web-constants/src/index.ts
  packages/web-platform/web-mainthread-apis/package.json
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/createAttributeAndPropertyFunctionsWithContext.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/createOffscreenDocument.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/domTree/domTreeFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-mainthread-apis/src/index.ts
  packages/web-platform/web-mainthread-apis/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-mainthread-apis/src/utils/createExposureService.ts
  packages/web-platform/web-mainthread-apis/tsconfig.json
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-worker-runtime/package.json
  pnpm-lock.yaml
Labels: web

#343 feat(web): use offscreen document to implement element PAPI
  .changeset/odd-icons-run.md
  packages/web-platform/offscreen-document/package.json
  packages/web-platform/offscreen-document/src/main/initOffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenNode.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
  packages/web-platform/web-constants/package.json
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/ElementOperation.ts
  packages/web-platform/web-constants/src/types/EventType.ts
  packages/web-platform/web-constants/src/types/FlushElementTreeOptions.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-constants/tsconfig.json
  packages/web-platform/web-core/package.json
  packages/web-platform/web-core/src/index.ts
  packages/web-platform/web-core/src/types/RuntimePropertyOnElement.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/createExposureService.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerInvokeUIMethodHandler.ts
  packages/web-platform/web-core/src/uiThread/decodeElementOperation.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-core/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-core/tsconfig.json
  packages/web-platform/web-mainthread-apis/package.json
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-mainthread-apis/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-mainthread-apis/src/utils/createExposureService.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-worker-runtime/package.json
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeModules.ts
  packages/web-platform/web-worker-runtime/src/mainThread/crossThreadHandlers/registerPostMainThreadEventHandler.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
  packages/web-platform/web-worker-runtime/tsconfig.json
  pnpm-lock.yaml
Labels: web

#355 chore(web): update new usage of web-elements and web-core
  packages/web-platform/web-core/README.md
  packages/web-platform/web-elements/README.md
Labels: documentation, web

#368 fix: inline style will be removed for value number `0`
  .changeset/rude-bears-brake.md
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Labels: web

#372 fix(web): rsbuild will bundle 2 exactly same chunk for two same `new Worker` stmt
  .changeset/rotten-pigs-wash.md
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
Labels: web

#350 feat(web): The onNapiModulesCall function add lynxView parameter
  .changeset/sad-shirts-reply.md
  packages/web-platform/web-constants/src/types/NapiModules.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-rpc/src/Rpc.ts
Labels: enhancement, web

#378 refactor: timing system
  .changeset/chilly-beers-sin.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/bootTimingSystem.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerDispatchLynxViewEventHandler.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createPerformanceApis.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createTimingSystem.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/createBackgroundMarkTimingInternal.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/registerPostTimingResultHandler.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/startBackgroundThread.ts
  packages/web-platform/web-worker-runtime/src/mainThread/crossThreadHandlers/createMainthreadMarkTimingInternal.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Labels: web

#379 fix: list with a blank block
  .changeset/early-chefs-cheat.md
  .cspell/lynx.txt
  packages/web-platform/web-elements/src/XList/x-list.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/event-scrolltoupper-tolower-flow/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/event-scrolltoupper-tolower-flow/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/event-scrolltoupper-tolower-flow/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-list/event-scrolltoupper-tolower-flow.html
Labels: bug, web

#406 feat(web): add support for defaultOverflowVisible configuration and fix scrollbar visibility
  .changeset/few-streets-tap.md
  .changeset/petite-clocks-report.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/types/PageConfig.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/inShadowRootStyles.ts
  packages/web-platform/web-elements/src/common-css/linear.css
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-linear-column-container-main-axis-graverty-start-end-with-direction-rtl/index/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-linear-column-container-main-axis-graverty-start-end-with-direction-rtl/index/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-linear-column-container-main-axis-graverty-top-bottom-with-direction-rtl/index/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-linear-column-container-main-axis-graverty-top-bottom-with-direction-rtl/index/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size-with-padding/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size-with-padding/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size-with-padding/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/image/auto-size/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/config-css-default-overflow-visible-unset/index.css
  packages/web-platform/web-tests/tests/react/config-css-default-overflow-visible-unset/index.jsx
  packages/web-platform/web-tests/tests/react/config-css-default-overflow-visible-unset/rspeedy.config.ts
Labels: web

#408 feat: add layoutchange event support for x-view and x-text
  .changeset/curvy-wasps-count.md
  cspell.jsonc
  packages/web-platform/web-elements/src/XText/XText.ts
  packages/web-platform/web-elements/src/XView/XView.ts
  packages/web-platform/web-elements/src/common/CommonEventsAndMethods.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-text/event-layoutchange.html
  packages/web-platform/web-tests/tests/web-elements/x-view/event-layoutchange.html
Labels: web

#412 docs: fix documents about lynx-view's properties
  .changeset/olive-corners-work.md
  packages/web-platform/web-core/src/apis/LynxView.ts
Labels: documentation, web
