Repository lynx-family/lynx-stack, pull requests merged in 2025-08, with the labels that each got.

#1391 feat: implement `__ElementFromBinary`
  .changeset/hungry-lions-eat.md
  packages/web-platform/web-constants/src/types/LynxModule.ts
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Labels: platform:Web

#1437 fix: load main-thread chunk in ESM format
  .changeset/curly-worlds-change.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
Labels: platform:Web

#1308 feat(react/runtime): support using a host element as direct child of Suspense
  .changeset/fast-coats-swim.md
  packages/react/runtime/__test__/lynx/suspense.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/index.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lynx/suspense.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
Labels: framework:React

#1436 chore: upgrade preact
  packages/react/package.json
  pnpm-lock.yaml
Labels: framework:React

#1173 feat: add `onBackgroundSnapshotInstanceUpdateId` event for Preact Devtools
  .changeset/lucky-boats-rhyme.md
  packages/react/runtime/src/snapshot.ts
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/hook/useContext/index.jsx
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/jsx/value/index.jsx
  packages/webpack/react-refresh-webpack-plugin/test/setup-env.js
Labels: framework:React

#1274 feat(eslint): support eslint for ReactLynx
  .changeset/floppy-singers-chew.md
  .github/workflows/test.yml
  eslint.config.js
  examples/react/lynx.config.js
  examples/react/test/jsx-runtime.test-d.tsx
  examples/react/tsconfig.json
  examples/tailwindcss/lynx.config.js
  examples/tailwindcss/src/App.tsx
  examples/tailwindcss/src/index.tsx
  examples/tailwindcss/src/utils.ts
  examples/tailwindcss/test/App.test-d.ts
  examples/tailwindcss/tsconfig.json
  package.json
  packages/rspeedy/create-rspeedy/src/index.ts
  packages/rspeedy/create-rspeedy/template-common/src/rspeedy-env.d.ts
  packages/rspeedy/create-rspeedy/template-react-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/App.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/App.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/__tests__/index.test.tsx
  pnpm-lock.yaml
Labels: platform:Web, framework:React

#1450 Revert "feat(react/runtime): support using a host element as direct child of Suspense"
  .changeset/fast-coats-swim.md
  packages/react/runtime/__test__/lynx/suspense.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/index.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lynx/suspense.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
Labels: framework:React

#1455 feat(react/runtime): support using a host element as direct child of Suspense
  .changeset/fast-coats-swim.md
  packages/react/runtime/__test__/lynx/suspense.test.jsx
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/index.ts
  packages/react/runtime/src/lynx/suspense.ts
  packages/react/testing-library/src/__tests__/lazy-bundle/index.test.jsx
Labels: framework:React

#1416 fix(react/runtime): fix background functions are stringified to undefined in MTS
  .changeset/wild-ghosts-heal.md
  packages/react/runtime/__test__/worklet/transform.test.js
  packages/react/runtime/src/worklet/transformToWorklet.ts
  packages/react/testing-library/src/__tests__/worklet.test.jsx
Labels: framework:React

#1457 fix(web): onNativeModulesCall should use promise to return ret
  .changeset/old-squids-spend.md
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-nativemodules-call-delay/index.jsx
Labels: platform:Web

#1456 feat: support path() for `createQuerySelector`
  .changeset/get-path-info-api.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerGetPathInfoHandler.ts
  packages/web-platform/web-core/src/uiThread/startBackground.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-get-path-info/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/createGetPathInfo.ts
Labels: platform:Web

#1466 fix(web): fix: && use getter to get.
  .changeset/short-taxis-smash.md
  packages/web-platform/web-core/src/apis/LynxView.ts
Labels: platform:Web

#1336 feat(react): support profile in production build
  .changeset/forty-aliens-play.md
  packages/react/runtime/__test__/debug/hook.js
  packages/react/runtime/__test__/debug/profile.test.jsx
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/lifecycle/updateData.test.jsx
  packages/react/runtime/__test__/lynx/timing.test.jsx
  packages/react/runtime/__test__/utils/globals.js
  packages/react/runtime/src/debug/profile.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createPerformanceApis.ts
Labels: framework:React

#1483 fix(web): all attributes except id and type under ElementTemplateData…
  .changeset/true-things-search.md
  packages/web-platform/web-constants/src/types/LynxModule.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
Labels: platform:Web

#1488 chore: update test of @lynx-js/css-extract-webpack-plugin to use real LynxTemplatePlugin
  .changeset/cruel-shrimps-say.md
  packages/webpack/css-extract-webpack-plugin/test/helper/stubLynx.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/webpack.config.js
  packages/webpack/css-extract-webpack-plugin/test/plugins.js
Labels: platform:Web

#1484 fix(web): \_\_ElementFromBinary should mark all elements actively
  .changeset/silly-rockets-bet.md
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Labels: platform:Web

#1482 fix: "emit different content to the same filename" error
  .changeset/shaky-pumas-fail.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry1.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry2.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry3.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/entry4.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/index.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/lib-common.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/lib-common.module.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/no-changed.css
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/rspack.config.js
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/test.config.cjs
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
Labels: platform:Web

#1485 feat(web): add MTS API: \_\_UpdateComponentInfo
  .changeset/shiny-candies-wear.md
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Labels: platform:Web

#1401 fix(react): recursive hydrate in list to avoid double remove & insert when move
  .changeset/legal-words-mix.md
  packages/react/runtime/__test__/lifecycle/reload.test.jsx
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/hydrate.ts
Labels: framework:React

#1486 feat(web): add MTS API \_\_GetAttributeByName
  .changeset/twenty-olives-design.md
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Labels: platform:Web

#1500 fix(testing-library): do not transform css imports
  .changeset/curvy-dragons-appear.md
  packages/react/testing-library/src/__tests__/css/index.test.jsx
  packages/react/testing-library/src/__tests__/css/style1.css
  packages/react/testing-library/src/__tests__/css/style2.css
  packages/react/testing-library/src/__tests__/css/style3.module.css
  packages/react/testing-library/src/vitest.config.js
Labels: framework:React

#1502 fix(testing-library): render options type
  .changeset/four-actors-ring.md
  packages/react/testing-library/turbo.json
  packages/react/testing-library/types/entry.d.ts
  packages/testing-library/examples/basic/package.json
  packages/testing-library/examples/basic/src/__tests__/types/render.test-d.tsx
  packages/testing-library/examples/basic/src/__tests__/types/renderHook.test-d.tsx
  packages/testing-library/examples/basic/tsconfig.json
Labels: framework:React

#1498 fix(rspeedy/react): fix aliases are missing when using in environments
  .changeset/common-apes-look.md
  packages/rspeedy/plugin-react-alias/src/index.ts
  packages/rspeedy/plugin-react-alias/test/index.test.ts
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/alias.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/web.test.ts
Labels: framework:React

#1593 feat: add `@lynx-js/preact-devtools` to create-rspeedy
  .changeset/dull-needles-read.md
  .changeset/orange-swans-brake.md
  examples/react/package.json
  examples/react/src/index.tsx
  packages/rspeedy/create-rspeedy/template-react-js/package.json
  packages/rspeedy/create-rspeedy/template-react-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-ts/src/index.tsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-js/src/index.jsx
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/package.json
  packages/rspeedy/create-rspeedy/template-react-vitest-rltl-ts/src/index.tsx
  packages/rspeedy/plugin-react-alias/src/index.ts
  pnpm-lock.yaml
Labels: framework:React

#1607 ci: use self-hosted rust cache
  .github/actions/rustup/action.yml
  .github/workflows/rust.yml
  .github/workflows/workflow-build.yml
  package.json
  packages/react/transform/turbo.json
  packages/web-platform/web-style-transformer/turbo.json
  turbo.json
Labels: platform:Web, framework:React

#1558 refactor(react/transform): remove the warning of `key`
  .changeset/solid-squids-fall.md
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Labels: framework:React

#1575 chore(renovate): enable manager "custom.regex"
  .github/renovate.json5
Labels: platform:Web
