Repository lynx-family/lynx-stack, pull requests merged in 2025-07, with the labels that each got.

#1132 chore(web): add getNativeModulesPathRule usage for testing
  .changeset/fine-beans-bet.md
  packages/web-platform/web-rsbuild-plugin/src/pluginWebPlatform.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/shell-project/index.native-modules.ts
  packages/web-platform/web-tests/shell-project/index.ts
  pnpm-lock.yaml
Labels: platform:Web

#1211 chore(web): extract shared logic of loadTemplate
  .changeset/young-doodles-strive.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-constants/src/utils/index.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
Labels: platform:Web

#1187 fix(web): handle CSS compound-selector correctly
  .changeset/social-crabs-bow.md
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-css-compound-selector/compound-selector/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-css-compound-selector/compound-selector/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/basic-css-compound-selector/compound-selector/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-css-compound-selector/index.css
  packages/web-platform/web-tests/tests/react/basic-css-compound-selector/index.jsx
Labels: bug, platform:Web

#1216 refactor: improve `linear-weight-sum` performance
  .changeset/hungry-hoops-sin.md
  packages/web-platform/web-elements-compat/src/LinearContainer/linear-compat.css
  packages/web-platform/web-elements/src/common-css/linear.css
  packages/web-platform/web-style-transformer/src/transformLynxStyles.ts
Labels: platform:Web

#1272 feat: support to dump the css og system's style
  .changeset/hot-plants-accept.md
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
  packages/web-platform/web-core-server/src/dumpHTMLString.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Labels: platform:Web

#1292 feat: move SSR hydrate essential info to the ssr attribute
  .changeset/lemon-colts-hang.md
  packages/web-platform/web-constants/src/types/MainThreadGlobalThis.ts
  packages/web-platform/web-constants/src/types/SSR.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/pureElementPAPIs.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Labels: platform:Web

#1309 chore: isolate inline-style-parser
  .changeset/loose-ants-spend.md
  Cargo.lock
  Cargo.toml
  packages/web-platform/inline-style-parser/Cargo.toml
  packages/web-platform/inline-style-parser/src/LICENSE
  packages/web-platform/inline-style-parser/src/char_code_definitions.rs
  packages/web-platform/inline-style-parser/src/lib.rs
  packages/web-platform/inline-style-parser/src/parse_inline_style.rs
  packages/web-platform/inline-style-parser/src/tokenize.rs
  packages/web-platform/inline-style-parser/src/types.rs
  packages/web-platform/inline-style-parser/src/utils.rs
  packages/web-platform/web-style-transformer/Cargo.toml
  packages/web-platform/web-style-transformer/src/lib.rs
  packages/web-platform/web-style-transformer/src/transformer/transformer.rs
Labels: platform:Web

#1337 fix: improve compatibility with legacy template
  .changeset/plenty-regions-end.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-tests/resources/web-core.enable-css-selector-false.json
Labels: platform:Web

#1353 Revert "fix(react): remove and insert `list-item`s those `item-key` have been changed"
  .changeset/shaky-swans-end.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/listUpdateInfo.ts
  packages/react/runtime/src/snapshot/platformInfo.ts
  packages/react/runtime/src/snapshot/spread.ts
Labels: framework:React

#819 refactor: bundle web-core-server
  .changeset/mighty-readers-clean.md
  packages/web-platform/web-core-server/package.json
  packages/web-platform/web-core-server/rslib.config.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core-server/tsconfig.json
  packages/web-platform/web-core-server/turbo.json
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/utils/tokenizer.ts
  packages/web-platform/web-style-transformer/index.d.ts
  packages/web-platform/web-style-transformer/index.js
  packages/web-platform/web-style-transformer/package.json
  packages/web-platform/web-style-transformer/standard.d.ts
  packages/web-platform/web-style-transformer/standard.js
  packages/web-platform/web-tests/rspack.config.js
Labels: platform:Web

#1361 fix: crash on chrome<96
  .changeset/tall-experts-take.md
  packages/web-platform/web-style-transformer/index.js
  packages/web-platform/web-style-transformer/legacy.js
  packages/web-platform/web-style-transformer/package.json
  packages/web-platform/web-style-transformer/scripts/build.js
  packages/web-platform/web-style-transformer/standard.js
  pnpm-lock.yaml
Labels: platform:Web

#1366 test(react/runtime): add tests for main thread element
  packages/react/worklet-runtime/__test__/api/element.test.js
  packages/react/worklet-runtime/vitest.config.ts
Labels: framework:React

#1374 feat: support elementTemplate for web
  .changeset/afraid-crews-dig.md
  packages/webpack/template-webpack-plugin/src/WebEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/web/element-template/a.js
  packages/webpack/template-webpack-plugin/test/cases/web/element-template/b.js
  packages/webpack/template-webpack-plugin/test/cases/web/element-template/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/web/element-template/test.config.cjs
Labels: platform:Web

#1379 fix(react/runtime): remove listener before destroy
  .changeset/bright-rings-read.md
  packages/react/runtime/__test__/lifecycle/destroy.test.jsx
  packages/react/runtime/__test__/utils/runtimeProxy.test.js
  packages/react/runtime/__test__/utils/setup.js
  packages/react/runtime/src/lynx/tt.ts
Labels: framework:React

#1382 feat: support color style for x-textarea
  .changeset/afraid-cameras-hide.md
  packages/web-platform/web-elements/src/XTextarea/x-textarea.css
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-textarea/basic-element-x-textarea-color/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-textarea/basic-element-x-textarea-color/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-textarea/basic-element-x-textarea-color/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-x-textarea-color/index.jsx
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-textarea/attribute-disabled/disabled-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-textarea/attribute-disabled/disabled-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-textarea/attribute-disabled/disabled-webkit-linux.png
Labels: platform:Web, framework:React

#1392 fix(react): missing "type" in "update-list-info" in hydrate
  .changeset/hot-dragons-shout.md
  packages/react/runtime/__test__/list.test.jsx
  packages/react/runtime/src/hydrate.ts
Labels: framework:React
