Repository lynx-family/lynx-stack, pull requests merged in 2025-05, with the labels that each got.

#702 feat(web): support for using lynx.queueMicrotask.
  .changeset/cuddly-beans-enter.md
  cspell.jsonc
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-queueMicrotask/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
Labels: enhancement, platform:Web

#711 feat(background-only): add source and integrate into monorepo
  packages/background-only/README.md
  packages/background-only/empty.js
  packages/background-only/error.js
  packages/background-only/index.d.ts
  packages/background-only/package.json
  packages/background-only/tsconfig.json
  pnpm-workspace.yaml
  tsconfig.json
Labels: type:feature

#707 fix(react/runtime): resolve race condition in `runWithForce`
  .changeset/new-bobcats-cry.md
  packages/react/runtime/src/lynx/runWithForce.ts
Labels: framework:React

#772 feat: initial commit for web-core-server
  .changeset/heavy-pigs-wave.md
  .changeset/smart-drinks-attend.md
  .github/workflows/workflow-bench.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/tsconfig.json
  packages/web-platform/web-core-server/.gitignore
  packages/web-platform/web-core-server/package.json
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core-server/src/index.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core-server/tsconfig.json
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/react/basic-performance-div-10000/index.jsx
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
  packages/web-platform/web-tests/tsconfig.json
  packages/web-platform/web-tests/vitest.config.ts
  packages/web-platform/web-worker-runtime/src/index.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
  pnpm-lock.yaml
Labels: platform:Web

#785 feat: add new property `inject-style-rules` for LynxView
  .changeset/gold-chefs-obey.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/inShadowRootStyles.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-inject-style-rules/index.jsx
Labels: platform:Web

#786 feat: allow lynx code to get JS engine provided properties on globalThis
  .changeset/busy-hounds-take.md
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-globalThis-property-bts/index.jsx
  packages/web-platform/web-tests/tests/react/basic-globalThis-property-mts/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Labels: platform:Web

#806 chore: add more tests for for web SSR
  .changeset/silly-pumas-float.md
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/react/basic-performance-div-10/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-div-100/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-div-1000/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-nest-level-100/index.jsx
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Labels: platform:Web

#809 chore: try to fix some flaky
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-setstate-in-constructor/index.jsx
  packages/web-platform/web-tests/tests/web-core.test.ts
Labels: platform:Web

#807 feat: improve load template
  .changeset/calm-grass-grow.md
  .changeset/calm-plants-grow.md
  .changeset/config.json
  .changeset/tired-lands-drop.md
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core-server/src/utils/loadTemplate.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Labels: platform:Web

#811 refactor: split shadowroot templates into a package
  .changeset/config.json
  .changeset/flat-poets-build.md
  .changeset/violet-banks-cheer.md
  packages/web-platform/tsconfig.json
  packages/web-platform/web-elements-reactive/src/component.ts
  packages/web-platform/web-elements-template/CHANGELOG.md
  packages/web-platform/web-elements-template/LICENSE.txt
  packages/web-platform/web-elements-template/Notice.txt
  packages/web-platform/web-elements-template/README.md
  packages/web-platform/web-elements-template/package.json
  packages/web-platform/web-elements-template/src/index.ts
  packages/web-platform/web-elements-template/tsconfig.json
  packages/web-platform/web-elements/package.json
  packages/web-platform/web-elements/src/ScrollView/ScrollView.ts
  packages/web-platform/web-elements/src/XAudioTT/XAudioTT.ts
  packages/web-platform/web-elements/src/XImage/FilterImage.ts
  packages/web-platform/web-elements/src/XImage/XImage.ts
  packages/web-platform/web-elements/src/XInput/XInput.ts
  packages/web-platform/web-elements/src/XList/XList.ts
  packages/web-platform/web-elements/src/XOverlayNg/XOverlayNg.ts
  packages/web-platform/web-elements/src/XRefreshView/XRefreshView.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiper.ts
  packages/web-platform/web-elements/src/XText/InlineImage.ts
  packages/web-platform/web-elements/src/XText/XText.ts
  packages/web-platform/web-elements/src/XTextarea/XTextarea.ts
  packages/web-platform/web-elements/src/XViewpagerNg/XViewpagerNg.ts
  packages/web-platform/web-elements/tsconfig.json
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/nest-image/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/nest-image/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/nest-image/index-webkit-linux.png
  pnpm-lock.yaml
Labels: platform:Web

#815 chore: import qr-scanner from unpkg to make bundle report precisely
  .changeset/long-cameras-refuse.md
  packages/web-platform/web-explorer/index.html
  packages/web-platform/web-explorer/index.ts
  packages/web-platform/web-explorer/package.json
  pnpm-lock.yaml
Labels: platform:Web

#838 feat: add SSR support for fp-only tests and enhance template handling
  .changeset/evil-lights-say.md
  .changeset/stale-zebras-add.md
  .github/workflows/test.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenCSSStyleDeclaration.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/index.ts
  packages/web-platform/web-core-server/package.json
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/server.js
  packages/web-platform/web-tests/shell-project/fp-only.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/fp-only.spec.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/react/commonConfig.ts
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
  pnpm-lock.yaml
Labels: platform:Web

#849 chore: add more tests for web SSR
  packages/web-platform/web-tests/tests/react/basic-performance-image-100/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-scroll-view-100/index.jsx
  packages/web-platform/web-tests/tests/react/basic-performance-text-200/index.jsx
  packages/web-platform/web-tests/tests/server.bench.vitest.spec.ts
Labels: platform:Web

#845 fix: worker not released when backgroundWorkerContextCount != 1
  .changeset/good-falcons-sort.md
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Labels: platform:Web

#859 fix(web): list-item should supports linear layout
  .changeset/warm-goats-stare.md
  packages/web-platform/web-elements/src/common-css/linear.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-item-linear/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-item-linear/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-item-linear/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-list/list-item-linear.html
Labels: platform:Web

#855 refactor: allow elements to be rendered before :defined
  .changeset/fresh-terms-guess.md
  packages/web-platform/web-elements/src/XImage/x-image.css
  packages/web-platform/web-elements/src/XInput/x-input.css
  packages/web-platform/web-elements/src/XOverlayNg/x-overlay-ng.css
  packages/web-platform/web-elements/src/XRefreshView/x-refresh-view.css
  packages/web-platform/web-elements/src/XText/x-text.css
  packages/web-platform/web-elements/src/XTextarea/x-textarea.css
  packages/web-platform/web-elements/src/XViewpagerNg/x-viewpager-ng.css
Labels: platform:Web

#850 chore: add more tests for fp-only-test
  .changeset/bright-animals-stand.md
  .changeset/stale-zebras-add.md
  .github/workflows/test.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-tests/server.js
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  packages/web-platform/web-tests/tests/fp-only.spec.ts
  packages/web-platform/web-tests/tests/fp-only.spec.ts-snapshots/basic-css-asset-in-css/show-lynx-logo/index-chromium-linux.png
  packages/web-platform/web-tests/tests/fp-only.spec.ts-snapshots/basic-css-asset-in-css/show-lynx-logo/index-webkit-linux.png
  packages/web-platform/web-tests/tests/fp-only.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-chromium-linux.png
  packages/web-platform/web-tests/tests/fp-only.spec.ts-snapshots/config-css-default-overflow-visible-unset/index/index-webkit-linux.png
  packages/web-platform/web-tests/tests/server.vitest.spec.ts
Labels: platform:Web

#862 fix(web): x-list should observe property list-type change.
  .changeset/shiny-eyes-follow.md
  packages/web-platform/web-elements/src/XList/XListAttributes.ts
  packages/web-platform/web-elements/src/XList/XListWaterfall.ts
  packages/web-platform/web-elements/src/XList/x-list.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/flow-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/flow-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/flow-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/single-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/single-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/single-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/waterfall-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/waterfall-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/list-type-change/waterfall-webkit-linux.png
Labels: platform:Web

#876 feat: support to dump ssrEncode string
  .changeset/cold-rivers-teach.md
  .github/workflows/test.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/web-core-server/package.json
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
  pnpm-lock.yaml
Labels: platform:Web

#868 chore(web): publish web-explorer
  .changeset/lemon-clubs-beam.md
Labels: platform:Web

#881 perf: improve dom operation performance
  .changeset/cruel-owls-love.md
  packages/web-platform/offscreen-document/src/webworker/OffscreenCSSStyleDeclaration.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenDocument.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenElement.ts
  packages/web-platform/offscreen-document/src/webworker/OffscreenNode.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/domTree/domTreeFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-tests/tests/__snapshots__/server.vitest.spec.ts.snap
Labels: platform:Web

#878 fix(web): remove the style contain: content of x-foldview-ng
  .changeset/great-seas-grin.md
  packages/web-platform/web-elements/src/XFoldViewNg/x-foldview-ng.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/scroll-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/scroll-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/item-fixed/scroll-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-foldview-ng/item-fixed.html
Labels: platform:Web

#897 refactor: code clean
  .changeset/cold-regions-attend.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/MainThreadStartConfigs.ts
  packages/web-platform/web-core-server/src/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/elementCreating/elementCreatingFunctions.ts
  packages/web-platform/web-mainthread-apis/src/index.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-tests/shell-project/mainthread-test.ts
  packages/web-platform/web-worker-runtime/src/index.ts
  packages/web-platform/web-worker-runtime/src/mainThread/index.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Labels: platform:Web

#932 fix(web): x-foldview-ng overflow-y: scroll add important to avoid bei…
  .changeset/fresh-clowns-crash.md
  packages/web-platform/web-elements/src/XFoldViewNg/x-foldview-ng.css
Labels: bug, platform:Web

#934 chore(web): update web-elements README about list
  .changeset/smart-regions-dig.md
  packages/web-platform/web-elements-template/README.md
  packages/web-platform/web-elements/README.md
Labels: platform:Web

#931 fix(web): style loss when enableCSSSelector and enableRemoveCSSScope are turned off
  .changeset/busy-vans-heal.md
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/config-mixed-01.config.ts
  packages/web-platform/web-tests/tests/react/config-mixed-01/index.css
  packages/web-platform/web-tests/tests/react/config-mixed-01/index.jsx
Labels: bug, platform:Web

#884 feat(web): pageConfig add new source
  .changeset/puny-monkeys-rule.md
  packages/webpack/template-webpack-plugin/src/WebEncodePlugin.ts
  packages/webpack/template-webpack-plugin/test/cases/web/page-config/a.js
  packages/webpack/template-webpack-plugin/test/cases/web/page-config/b.js
  packages/webpack/template-webpack-plugin/test/cases/web/page-config/rspack.config.js
  packages/webpack/template-webpack-plugin/test/cases/web/page-config/test.config.cjs
Labels: platform:Web
