Repository lynx-family/lynx-stack, pull requests merged in 2025-04, with the labels that each got.

#495 feat: implement mts event handler support and update related constants
  .changeset/all-melons-fall.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/ElementThreadElement.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-tests/resources/web-core.main-thread.json
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-mts-bindtap/index.jsx
  packages/web-platform/web-worker-runtime/src/index.ts
  packages/webpack/web-webpack-plugin/src/index.ts
Labels: web

#506 perf: dispatchLynxViewEventEndpoint is a void call
  .changeset/sweet-bottles-dance.md
  packages/web-platform/web-constants/src/endpoints.ts
Labels: platform:Web

#518 chore: bump the output target to es2024
  .changeset/fine-turtles-strive.md
  packages/web-platform/web-elements/tsconfig.json
Labels: platform:Web

#465 feat: upgrade @lynx-js/lynx-core to 0.1.2
  .changeset/twenty-suits-teach.md
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/Cloneable.ts
  packages/web-platform/web-constants/src/types/LynxContextEventTarget.ts
  packages/web-platform/web-constants/src/types/LynxLifecycleEvent.ts
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-constants/src/types/index.ts
  packages/web-platform/web-core/package.json
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/registerFlushElementTreeHandler.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-explorer/package.json
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-onNativeAppReady/index.jsx
  packages/web-platform/web-tests/tests/react/config-splitchunk-single-vendor/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-splitchunk-split-by-experience/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-splitchunk-split-by-module/rspeedy.config.ts
  packages/web-platform/web-worker-runtime/package.json
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createPerformanceApis.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/registerOnLifecycleEventHandler.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/crossThreadHandlers/registerOnNativeAppReadyHandler.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
  pnpm-lock.yaml
Labels: platform:Web

#516 feat: add a touch emulator allow the explorer respond touch events from mouse events
  .changeset/new-paths-think.md
  packages/web-platform/web-explorer/index.html
Labels: platform:Web

#520 feat: support `shared-context`
  .changeset/blue-lies-flash.md
  packages/web-platform/web-constants/src/types/NativeApp.ts
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-getSharedData/index.jsx
  packages/web-platform/web-tests/tests/react/api-setSharedData/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Labels: platform:Web

#517 fix: the `input` event of x-input with number type should have raw value
  .changeset/whole-teeth-bake.md
  packages/web-platform/web-elements/src/XInput/InputBaseAttributes.ts
  packages/web-platform/web-elements/src/XInput/XInputEvents.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-input/type/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/x-input/type/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-input/event-input-number-dot.html
Labels: platform:Web

#522 fix: the `\n` character should create a new line
  .changeset/thin-poems-argue.md
  packages/web-platform/web-elements/src/XText/x-text.css
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/raw-text-new-line/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/raw-text-new-line/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/raw-text-new-line/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-text-with-new-line/index.jsx
Labels: platform:Web

#331 feat(web): supports list with waterfall
  .changeset/thick-cameras-smash.md
  packages/web-platform/web-elements/src/XList/XList.ts
  packages/web-platform/web-elements/src/XList/XListAttributes.ts
  packages/web-platform/web-elements/src/XList/XListEvents.ts
  packages/web-platform/web-elements/src/XList/XListWaterfall.ts
  packages/web-platform/web-elements/src/XList/x-list.css
  packages/web-platform/web-tests/tests/performance.test.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/axios-gap-waterfall/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/axios-gap-waterfall/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/axios-gap-waterfall/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/insert-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/insert-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/insert-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/resize-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/resize-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/resize-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/wheel-x-not-wheelable-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/wheel-x-not-wheelable-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/wheel-y-wheelable-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/basic-waterfall/wheel-y-wheelable-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/event-scrolltoupper-tolower-waterfall/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/event-scrolltoupper-tolower-waterfall/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/event-scrolltoupper-tolower-waterfall/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span-waterfall/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span-waterfall/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span-waterfall/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span-waterfall/x-scroll-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span-waterfall/x-scroll-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span-waterfall/y-scroll-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/full-span-waterfall/y-scroll-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-waterfall/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-waterfall/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-waterfall/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-waterfall/wheel-x-wheelable-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-waterfall/wheel-x-wheelable-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-waterfall/wheel-y-not-wheelable-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/scroll-orientation-waterfall/wheel-y-not-wheelable-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-waterfall/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-waterfall/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-waterfall/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-waterfall/y-scroll-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-list/sticky-waterfall/y-scroll-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements/performance/x-list-waterfall-1000.html
  packages/web-platform/web-tests/tests/web-elements/x-list/axios-gap-waterfall.html
  packages/web-platform/web-tests/tests/web-elements/x-list/basic-waterfall.html
  packages/web-platform/web-tests/tests/web-elements/x-list/event-scrolltoupper-tolower-waterfall.html
  packages/web-platform/web-tests/tests/web-elements/x-list/full-span-waterfall.html
  packages/web-platform/web-tests/tests/web-elements/x-list/scroll-orientation-waterfall.html
  packages/web-platform/web-tests/tests/web-elements/x-list/sticky-waterfall.html
Labels: enhancement, platform:Web

#535 fix(web): When list-type is not specified, it is treated as single
  .changeset/great-masks-mate.md
  packages/web-platform/web-elements/src/XList/x-list.css
  packages/web-platform/web-tests/tests/web-elements/x-list/basic.html
Labels: enhancement, platform:Web

#513 fix: improve x-foldview-ng
  .changeset/shaggy-badgers-fix.md
  .cspell/lynx.txt
  cspell.jsonc
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewHeaderNgFeatures.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewNgEvents.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotNgTouchEventsHandler.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/basic-fling/fling-works-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/basic-fling/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/size-toolbar-and-slot-size-lager/fully-swiped-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-foldview-ng/size-toolbar-and-slot-size-lager/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-foldview-ng/basic-fling.html
  packages/web-platform/web-tests/tests/web-elements/x-foldview-ng/size-toolbar-and-slot-size-lager.html
Labels: platform:Web

#543 fix: web-explorer crash
  .changeset/sour-streets-remain.md
  packages/web-platform/web-explorer/index.html
Labels: platform:Web

#560 fix: remove useless css
  .changeset/afraid-eels-dress.md
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotNgTouchEventsHandler.ts
  packages/web-platform/web-elements/src/XFoldViewNg/x-foldview-ng.css
Labels: platform:Web

#564 feat: support mts event with target methods
  .changeset/tidy-lemons-bow.md
  packages/web-platform/web-constants/src/types/EventType.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/event/eventFunctions.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-mts-bindtap-change-element-background/index.jsx
Labels: platform:Web

#569 feat(web): fully support MTS
  .changeset/bright-forks-try.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/LynxContextEventTarget.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-mts-mainthread-ref/index.jsx
  packages/web-platform/web-tests/tests/react/basic-mts-run-on-background/index.jsx
  packages/web-platform/web-tests/tests/react/basic-mts-run-on-main-thread/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/common/LynxCrossThreadContext.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Labels: platform:Web

#575 fix: refactor foldview slot offset logic
  .changeset/polite-memes-spend.md
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewHeaderNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewHeaderNgFeatures.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotNg.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewSlotNgTouchEventsHandler.ts
  packages/web-platform/web-elements/src/XFoldViewNg/XFoldviewToolbarNg.ts
Labels: platform:Web

#580 fix: position:fixed not work in scroll-view
  .changeset/eager-wasps-bet.md
  packages/web-platform/web-elements/src/ScrollView/scroll-view.css
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/scroll-view/basic-element-scroll-view-fixed/initial-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/scroll-view/basic-element-scroll-view-fixed/initial-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/scroll-view/basic-element-scroll-view-fixed/initial-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-scroll-view-fixed/index.jsx
Labels: platform:Web

#582 fix(web): crash on removing a id attribute
  .changeset/wide-towns-call.md
  packages/web-platform/web-mainthread-apis/src/elementAPI/attributeAndProperty/attributeAndPropertyFunctions.ts
  packages/web-platform/web-tests/tests/main-thread-apis.test.ts
Labels: platform:Web

#590 refactor: improve compatibility for text linear-gradient color on chrome 108
  .changeset/odd-mirrors-check.md
  packages/web-platform/web-core/package.json
  packages/web-platform/web-elements/src/XText/XText.ts
  packages/web-platform/web-elements/src/XText/x-text.css
  packages/web-platform/web-style-transformer/src/transformLynxStyles.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/linear-gradient-color/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/linear-gradient-color/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/text/linear-gradient-color/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/api-SelectorQuery/mini-result-cell/index.jsx
  packages/web-platform/web-tests/tests/react/basic-color-not-inherit/index.jsx
  packages/web-platform/web-tests/tests/react/basic-element-x-blur-view-blur-radius/index.css
  packages/web-platform/web-tests/tests/react/basic-element-x-blur-view-blur-radius/index.jsx
Labels: platform:Web

#591 chore: code clean
  .changeset/large-worms-draw.md
  packages/web-platform/web-elements/src/ScrollView/ScrollView.ts
  packages/web-platform/web-elements/src/XText/XText.ts
  packages/web-platform/web-elements/src/XView/XView.ts
  packages/web-platform/web-explorer/index.ts
Labels: platform:Web

#595 feat(web): x-list supports need-visible-item-info
  .changeset/yummy-trains-sort.md
  packages/web-platform/web-elements/src/XList/XListEvents.ts
  packages/web-platform/web-tests/tests/web-elements.spec.ts
  packages/web-platform/web-tests/tests/web-elements/x-list/need-visible-item-info.html
Labels: enhancement, platform:Web

#599 fix: allow lynxjs.org to access native modules
  .changeset/lucky-eyes-sing.md
  packages/web-platform/web-explorer/index.ts
Labels: platform:Web

#598 chore(web): x-list-waterfall-1000 flaky
  packages/web-platform/web-tests/tests/performance.test.ts
Labels: platform:Web

#537 fix(web): remove requireModule, requireModuleAsync of mts
  .changeset/twenty-singers-talk.md
  packages/web-platform/web-mainthread-apis/src/MainThreadLynx.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
Labels: bug, platform:Web

#596 ci(web): introduce lighthouse ci
  .github/workflows/test.yml
  .github/workflows/workflow-test.yml
  .gitignore
  cspell.jsonc
  packages/web-platform/web-tests/lighthouserc.js
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/shell-project/web-elements.ts
  packages/web-platform/web-tests/tests/lighthouse.cases.js
  packages/web-platform/web-tests/tests/web-elements/performance/raw-text-large.html
  packages/web-platform/web-tests/tests/web-elements/performance/x-text-large.html
  pnpm-lock.yaml
Labels: platform:Web

#601 perf: improve raw-text performance
  .changeset/shaky-games-cough.md
  packages/web-platform/web-elements/src/XText/RawText.ts
  packages/web-platform/web-tests/tests/lighthouse.cases.js
Labels: platform:Web

#608 fix(web): css selector not work for selectors with combinator and pseudo-class
  .changeset/rude-memes-shave.md
  packages/web-platform/web-constants/src/types/StyleInfo.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-style-combinator/index.css
  packages/web-platform/web-tests/tests/react/basic-style-combinator/index.jsx
  packages/webpack/web-webpack-plugin/src/style/genStyleInfo.ts
  packages/webpack/web-webpack-plugin/src/type/StyleInfo.ts
Labels: platform:Web

#622 refactor: move mainthread impl into mainthread-api packages
  .changeset/ready-months-type.md
  packages/web-platform/web-constants/src/index.ts
  packages/web-platform/web-constants/src/utils/LynxCrossThreadContext.ts
  packages/web-platform/web-constants/src/utils/index.ts
  packages/web-platform/web-mainthread-apis/src/crossThreadHandlers/registerCallLepusMethodHandler.ts
  packages/web-platform/web-mainthread-apis/src/crossThreadHandlers/registerGetCustomSectionHandler.ts
  packages/web-platform/web-mainthread-apis/src/index.ts
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createBackgroundLynx.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
Labels: platform:Web

#628 refactor: isolate SystemInfo
  .changeset/cruel-hornets-burn.md
  packages/web-platform/web-constants/src/constants.ts
  packages/web-platform/web-constants/src/endpoints.ts
  packages/web-platform/web-constants/src/types/PageConfig.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
  packages/web-platform/web-worker-runtime/src/index.ts
Labels: platform:Web

#629 fix(web): scroll-view's initial-scroll-index is changed to initial-sc…
  .changeset/afraid-donuts-cut.md
  packages/web-platform/web-elements/src/ScrollView/ScrollAttributes.ts
  packages/web-platform/web-tests/tests/react/basic-element-scroll-view-scroll-to-index/index.jsx
Labels: bug, platform:Web

#625 feat: support thread strategy all on ui
  .changeset/giant-seas-leave.md
  .changeset/slow-tools-ring.md
  .github/workflows/test.yml
  packages/web-platform/offscreen-document/src/webworker/OffscreenNode.ts
  packages/web-platform/web-core/package.json
  packages/web-platform/web-core/src/apis/LynxView.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-core/src/uiThread/bootWorkers.ts
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/uiThread/createRenderMultiThread.ts
  packages/web-platform/web-core/src/uiThread/crossThreadHandlers/createUpdateData.ts
  packages/web-platform/web-core/src/uiThread/startBackground.ts
  packages/web-platform/web-core/src/uiThread/startUIThread.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/loadMainThread.ts
  packages/web-platform/web-tests/playwright.config.ts
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/shell-project/index.ts
  packages/web-platform/web-tests/shell-project/web-core.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/web-core.test.ts
  packages/web-platform/web-worker-rpc/src/Rpc.ts
  packages/web-platform/web-worker-runtime/src/mainThread/startMainThread.ts
  pnpm-lock.yaml
Labels: platform:Web

#635 fix(web): the scroll-x field of scroll-view needs to be handled corre…
  .changeset/soft-baths-scream.md
  packages/web-platform/web-elements/src/ScrollView/ScrollAttributes.ts
Labels: bug, platform:Web

#638 fix(web): x-image border-radius setting has no effect.
  .changeset/busy-zebras-cover.md
  packages/web-platform/web-elements/src/XImage/x-image.css
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-image/basic-inherit/index-chromium-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-image/basic-inherit/index-firefox-linux.png
  packages/web-platform/web-tests/tests/web-elements.spec.ts-snapshots/x-image/basic-inherit/index-webkit-linux.png
  packages/web-platform/web-tests/tests/web-elements/x-image/basic-inherit.html
Labels: bug, platform:Web

#641 feat: support touch events for MTS
  .changeset/brave-ants-report.md
  .changeset/empty-worms-buy.md
  .changeset/loud-mangos-enjoy.md
  .cspell/lynx.txt
  packages/web-platform/offscreen-document/src/main/initOffscreenDocument.ts
  packages/web-platform/web-constants/src/types/Cloneable.ts
  packages/web-platform/web-constants/src/types/PageConfig.ts
  packages/web-platform/web-core/src/apis/createLynxView.ts
  packages/web-platform/web-mainthread-apis/src/MainThreadRuntime.ts
  packages/web-platform/web-mainthread-apis/src/utils/createCrossThreadEvent.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/api-SystemInfo-height-width/index.jsx
  packages/web-platform/web-tests/tests/react/basic-mts-bindtouchstart/index.jsx
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Labels: platform:Web

#639 fix: In React19, setter and getter functions are treated as properties
  .changeset/easy-regions-say.md
  .changeset/five-frogs-report.md
  packages/web-platform/web-elements/src/XSwiper/XSwiper.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiperAutoScroll.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiperCircular.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiperEvents.ts
  packages/web-platform/web-elements/src/XSwiper/XSwiperIndicator.ts
  packages/web-platform/web-elements/src/XSwiper/x-swiper.css
Labels: platform:Web

#606 feat(web): supports rsbuild plugin for Web projects in Lynx Web Platform
  .changeset/modern-peaches-marry.md
  .github/workflows/test.yml
  .gitignore
  packages/web-platform/web-explorer/package.json
  packages/web-platform/web-explorer/rsbuild.config.ts
  packages/web-platform/web-rsbuild-plugin/README.md
  packages/web-platform/web-rsbuild-plugin/api-extractor.json
  packages/web-platform/web-rsbuild-plugin/package.json
  packages/web-platform/web-rsbuild-plugin/rslib.config.ts
  packages/web-platform/web-rsbuild-plugin/src/index.ts
  packages/web-platform/web-rsbuild-plugin/src/pluginWebPlatform.ts
  packages/web-platform/web-rsbuild-plugin/tests/__snapshots__/config.test.ts.snap
  packages/web-platform/web-rsbuild-plugin/tests/config.test.ts
  packages/web-platform/web-rsbuild-plugin/tsconfig.json
  packages/web-platform/web-rsbuild-plugin/turbo.json
  packages/web-platform/web-rsbuild-plugin/vitest.config.ts
  pnpm-lock.yaml
Labels: enhancement, platform:Web

#647 chore: update css property map
  .changeset/clear-cobras-work.md
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/cssPropertyMap.ts
  packages/web-platform/web-mainthread-apis/src/elementAPI/style/styleFunctions.ts
Labels: platform:Web

#662 fix: fork @vant/touch-emulator and make it work with shadowroot
  .changeset/eight-swans-mix.md
  packages/web-platform/web-explorer/index.html
  packages/web-platform/web-explorer/preinstalled/vant-touch.js
Labels: platform:Web

#665 fix(web): loading errors caused by script import order
  .changeset/fine-ants-rush.md
  packages/web-platform/web-explorer/index.html
Labels: bug, platform:Web

#668 feat(web): add nativeModules config to bundle it into worker
  .changeset/deep-heads-talk.md
  .changeset/hot-adults-wear.md
  .changeset/thick-pots-clap.md
  packages/web-platform/tsconfig.json
  packages/web-platform/web-explorer/index.native-modules.ts
  packages/web-platform/web-explorer/index.ts
  packages/web-platform/web-explorer/rsbuild.config.ts
  packages/web-platform/web-rsbuild-plugin/README.md
  packages/web-platform/web-rsbuild-plugin/package.json
  packages/web-platform/web-rsbuild-plugin/src/loaders/native-modules.ts
  packages/web-platform/web-rsbuild-plugin/src/pluginWebPlatform.ts
  packages/web-platform/web-rsbuild-plugin/tests/bundle.test.ts
  packages/web-platform/web-rsbuild-plugin/tests/fixtures/index.native-modules.ts
  packages/web-platform/web-rsbuild-plugin/tests/fixtures/index.ts
  packages/web-platform/web-rsbuild-plugin/tests/tsconfig.json
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeModules.ts
  pnpm-lock.yaml
Labels: enhancement, platform:Web
