Repository lynx-family/lynx-stack, changes with the owners that CODEOWNERS names for each.
All owners: @pupiltong, @colinaaa, @hzy, @gaoachao

CODEOWNERS:

packages/web-platform/** @pupiltong
packages/webpack/** @colinaaa
packages/rspeedy/** @colinaaa
packages/react/** @hzy
packages/react/transform/** @gaoachao
benchmark/react/** @hzy

fix: avoid duplicate style transformation
  .changeset/itchy-shoes-warn.md
  packages/web-platform/web-constants/src/types/StyleInfo.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/index.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/index.jsx
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/linear.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/sub.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/sub.jsx
Owners: @pupiltong

fix
  packages/web-platform/web-constants/src/types/StyleInfo.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react/config-mixed-01/rspeedy.ts
Owners: @pupiltong

refactor(react/runtime): move `delayedRunOnMainThreadData` to a separate file
  .changeset/thirty-dots-sink.md
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/worklet/delayedRunOnMainThreadData.ts
  packages/react/runtime/src/worklet/runOnMainThread.ts
Owners: @hzy

fix(react/runtime): clear `delayedRunOnMainThreadData` on page destruction and reload
  .changeset/honest-cars-find.md
  packages/react/runtime/__test__/worklet/runOnMainThread.test.jsx
  packages/react/runtime/src/worklet/destroy.ts
  packages/react/worklet-runtime/src/workletRef.ts
  packages/react/worklet-runtime/src/workletRuntime.ts
Owners: @hzy

refactor: add swc-plugin-reactlynx-compat
  biome.jsonc
  eslint.config.js
  packages/react/.dprint.jsonc
  packages/react/transform/swc-plugin-reactlynx-compat/index.d.ts
  packages/react/transform/swc-plugin-reactlynx-compat/src/is_component_class.rs
  packages/react/transform/swc-plugin-reactlynx-compat/src/lib.rs
  packages/react/transform/swc-plugin-reactlynx-compat/src/simplify_ctor_like_react_lynx_2.rs
  packages/react/transform/swc-plugin-reactlynx-compat/src/target.rs
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_add_component_element.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_add_component_element_compiler_only.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_add_component_element_embedded.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_add_component_element_embedded_compiler_only.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_add_component_is_import.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_change_runtime_pkg.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_handle_recursive.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_left_no_remove_component_element_attr.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_not_handle_jsx_member_expression.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_not_rename_view_in_scope.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_not_rename_view_redeclaration.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_remove_component_attr_regex.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_rename_view.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_simplify_ctor.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_simplify_ctor_correct_order.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_simplify_ctor_not_remain_local_decls.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_simplify_ctor_not_remain_local_decls_with_macro.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_simplify_ctor_not_remain_local_decls_with_spread.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_transform_event_props_1.js
  packages/react/transform/swc-plugin-reactlynx-compat/tests/__swc_snapshots__/src/lib.rs/should_transform_event_props_2.js
  packages/react/transform/swc-plugin-reactlynx-compat/turbo.json
Owners: @hzy, @gaoachao

fix
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/index.css
  packages/web-platform/web-tests/tests/react/config-css-remove-scope-false-display-linear/sub.css
Owners: @pupiltong

fix
  packages/web-platform/web-tests/tests/react/config-mixed-01/rspeedy.config.ts
  packages/web-platform/web-tests/tests/react/config-mixed-01/rspeedy.ts
Owners: @pupiltong

fix(react/runtime): remove useless function calls
  .changeset/every-tools-reply.md
  packages/react/runtime/src/lifecycle/reload.ts
  packages/react/runtime/src/worklet/destroy.ts
Owners: @hzy

refactor(react/runtime): reorganize worklet dir
  .changeset/eager-feet-kick.md
  packages/react/runtime/__test__/snapshot/workletRefBG.jsx
  packages/react/runtime/__test__/snapshot/workletRefMT.jsx
  packages/react/runtime/__test__/utils/envManager.ts
  packages/react/runtime/__test__/worklet/execIdMap.test.js
  packages/react/runtime/__test__/worklet/runOnBackground.test.js
  packages/react/runtime/__test__/worklet/runOnMainThread.test.jsx
  packages/react/runtime/__test__/worklet/transform.test.js
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lynx-api.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/worklet/call/delayedRunOnMainThreadData.ts
  packages/react/runtime/src/worklet/call/execMap.ts
  packages/react/runtime/src/worklet/call/functionCall.ts
  packages/react/runtime/src/worklet/call/runOnBackground.ts
  packages/react/runtime/src/worklet/call/runOnMainThread.ts
  packages/react/runtime/src/worklet/call/transformToWorklet.ts
  packages/react/runtime/src/worklet/ctx.ts
  packages/react/runtime/src/worklet/destroy.ts
  packages/react/runtime/src/worklet/ref/workletRef.ts
  packages/react/runtime/src/worklet/ref/workletRefPool.ts
Owners: @hzy

fix(rspeedy/react): resolve correct `@lynx-js/react/refresh`
  .changeset/cold-clocks-train.md
  packages/rspeedy/plugin-react/src/refresh.ts
Owners: @colinaaa

fix(react/runtime): prevent `reloadVersion` from cancelling the MTRef initial value patch
  .changeset/violet-wasps-shop.md
  packages/react/runtime/__test__/snapshot/workletRef.test.jsx
  packages/react/runtime/__test__/worklet/workletRef.test.jsx
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/updateMainThread.ts
  packages/react/runtime/src/lifecycleConstant.ts
  packages/react/runtime/src/lynx.ts
  packages/react/runtime/src/lynx/tt.ts
  packages/react/runtime/src/worklet/ref/updateInitValue.ts
  packages/react/runtime/src/worklet/ref/workletRefPool.ts
  packages/react/testing-library/src/__tests__/worklet.test.jsx
  packages/react/testing-library/src/vitest-global-setup.js
  packages/testing-library/testing-environment/src/index.ts
Owners: @hzy

fix
  packages/react/.dprint.jsonc
  packages/react/transform/swc-plugin-reactlynx-compat/build.js
  packages/react/transform/swc-plugin-reactlynx-compat/turbo.json
  pnpm-workspace.yaml
Owners: @hzy, @gaoachao

fix: test
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_list_toplevel.js
Owners: @gaoachao

fix: add sandbox attribute to iframe for enhanced security
  .changeset/rich-candles-think.md
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-core/src/utils/loadTemplate.ts
  packages/web-platform/web-tests/tests/react.spec.ts
Owners: @pupiltong

add changeset
  .changeset/rude-owls-cheer.md
Owners: none

use iframe.contentDocument!
  packages/web-platform/web-core/src/uiThread/createRenderAllOnUI.ts
  packages/web-platform/web-tests/rspack.config.js
Owners: @pupiltong

fix(web): temporarily remove support for chunk splitting
  .changeset/many-actors-count.md
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-worker-runtime/src/backgroundThread/background-apis/createNativeApp.ts
Owners: @pupiltong

update changeset
  .changeset/many-actors-count.md
Owners: none

feat(rspeedy): Support resolve.extensions
  .changeset/clean-beds-follow.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/resolve/index.ts
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/resolve/extensions.test-d.ts
  packages/rspeedy/core/test/config/resolve/extensions.test.ts
Owners: @colinaaa

refactor: extract swc_plugin_css_scope
  Cargo.lock
  Cargo.toml
  eslint.config.js
  packages/react/.dprint.jsonc
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_css_scope/Cargo.toml
  packages/react/transform/crates/swc_plugin_css_scope/lib.rs
  packages/react/transform/crates/swc_plugin_css_scope/napi.rs
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_all_transform_imports.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_all_transform_imports_without_jsx.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_modules_transform_imports.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_modules_transform_imports_without_jsx.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_none_transform_imports.js
  packages/react/transform/crates/swc_plugin_css_scope/tests/__swc_snapshots__/lib.rs/scoped_none_transform_imports_without_jsx.js
  packages/react/transform/crates/swc_plugins_shared/Cargo.toml
  packages/react/transform/crates/swc_plugins_shared/lib.rs
  packages/react/transform/crates/swc_plugins_shared/utils.rs
  packages/react/transform/src/css.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_dynamic_import/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Owners: @hzy, @gaoachao

chore: add empty changeset
  .changeset/fine-places-boil.md
Owners: none

fix: comments
  packages/react/transform/crates/swc_plugin_css_scope/lib.rs
  packages/react/transform/crates/swc_plugin_css_scope/napi.rs
Owners: @gaoachao

feat(react): optimize the number and depth of snapshot
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_item_deferred_with_children_with_snapshot.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling_jsx.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling_jsx_dev.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_list.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_list_with_fragment.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/inline_style_literal.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/inline_style_literal_unknown_property.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/mode_development_spread.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element_dev.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_inject_implicit_flatten.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_wrap_dynamic_key.js
Owners: @gaoachao

fix(deps): update rust crate swc_core to v42
  Cargo.lock
  Cargo.toml
Owners: none

fix: bump `swc_config`
  Cargo.lock
Owners: none

Apply suggestion from @colinaaa
  .changeset/clean-beds-follow.md
Owners: none

Apply suggestion from @colinaaa
  packages/rspeedy/core/src/config/resolve/index.ts
Owners: @colinaaa

Apply suggestion from @colinaaa
  packages/rspeedy/core/src/config/resolve/index.ts
Owners: @colinaaa

fix(web): __QueryComponentImpl execute only once
  .changeset/calm-houses-jog.md
  packages/web-platform/web-mainthread-apis/src/crossThreadHandlers/createQueryComponent.ts
Owners: @pupiltong

fix(rspeedy/react)!: avoid defaults `useDefineForClassFields: false`
  .changeset/pretty-rats-throw.md
  packages/rspeedy/plugin-react/src/swc.ts
  packages/rspeedy/plugin-react/test/swc-config.test.ts
Owners: @colinaaa

add test
  packages/rspeedy/core/test/config/resolve/extensions.test.ts
Owners: @colinaaa

feat(react/runtime): support `SelectorQuery` `animation` APIs
  .changeset/fix-ref-proxy-serialization.md
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/utils/setup.js
  packages/react/runtime/src/lifecycle/ref/delay.ts
  packages/react/testing-library/src/vitest-global-setup.js
Owners: @hzy

add remarks
  packages/rspeedy/core/src/config/resolve/index.ts
Owners: @colinaaa

fix: [web]the img within svg does not inherit the position
  packages/web-platform/web-elements/src/XImage/x-image.css
  packages/web-platform/web-elements/src/XSvg/x-svg.css
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-element-svg-with-position/index.css
  packages/web-platform/web-tests/tests/react/basic-element-svg-with-position/index.jsx
Owners: @pupiltong

chore: add changeset
  .changeset/dry-months-shop.md
Owners: none

fix: svg style
  packages/web-platform/web-elements/src/XSvg/x-svg.css
  packages/web-platform/web-tests/tests/react/basic-element-svg-with-position/index.css
Owners: @pupiltong

fix(react/transform)!: remove pure from `createSnapshot`
  .changeset/violet-mugs-decide.md
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Owners: @gaoachao

test: update snapshot
  packages/rspeedy/core/test/config/validate.test.ts
Owners: @colinaaa

feat: support setting `verbatimModuleSyntax`
  .changeset/early-spoons-matter.md
  packages/react/transform/index.d.ts
  packages/react/transform/src/lib.rs
  packages/rspeedy/plugin-react/src/loaders.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/react-webpack-plugin/src/loaders/options.ts
Owners: @gaoachao, @colinaaa

test: update Rust snapshot
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_full_static_snapshot_extract_it.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_list.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_list_with_fragment.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element_dev.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_escape_newline_character.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_extract_css_id.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_extract_css_id_dynamic_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_extract_css_id_dynamic_component_without_css_id.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_extract_css_id_without_css_id.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_inject_implicit_flatten.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_static_extract_dynamic_inline_style.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_static_extract_inline_style.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_wrap_dynamic_key.js
Owners: @gaoachao
