Repository lynx-family/lynx-stack, changes with the owners that CODEOWNERS names for each.
All owners: @pupiltong, @colinaaa, @hzy, @gaoachao

Update .changeset/better-insects-grin.md
  .changeset/better-insects-grin.md
Owners: none

refactor: extract swc_plugin_inject & swc_plugins_shared::css
  .changeset/silver-pandas-teach.md
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_inject/Cargo.toml
  packages/react/transform/crates/swc_plugin_inject/lib.rs
  packages/react/transform/crates/swc_plugin_inject/napi.rs
  packages/react/transform/crates/swc_plugin_inject/tests/__swc_snapshots__/lib.rs/should_inject.js
  packages/react/transform/crates/swc_plugin_inject/tests/__swc_snapshots__/lib.rs/should_inject_callee.js
  packages/react/transform/crates/swc_plugins_shared/Cargo.toml
  packages/react/transform/crates/swc_plugins_shared/css.rs
  packages/react/transform/crates/swc_plugins_shared/lib.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat_post/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
Owners: @gaoachao

feat(rspeedy): Support server.compress
  .changeset/evil-pigs-doubt.md
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/config/server/index.ts
Owners: @colinaaa

feat(web-platform): migrate environment.web output format and update tests for runtime wrapper plugin
  .changeset/plenty-actors-cheer.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/test/web.test.ts
  packages/webpack/template-webpack-plugin/src/WebEncodePlugin.ts
Owners: @colinaaa

Revert "fix: lazy component load error (#1794)"
  .changeset/hip-coats-drop.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
Owners: @pupiltong

fix: enable tests for appType
  .changeset/clean-falcons-brake.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
  packages/web-platform/web-tests/resources/web-core.enable-css-selector-false.json
  packages/web-platform/web-tests/resources/web-core.main-thread.json
Owners: @pupiltong

add test
  packages/rspeedy/core/test/config/rsbuild.test.ts
  packages/rspeedy/core/test/config/server.test-d.ts
Owners: @colinaaa

fix!: remove `enableICU`
  .changeset/two-parks-reply.md
  packages/rspeedy/plugin-react/etc/react-rsbuild-plugin.api.md
  packages/rspeedy/plugin-react/src/entry.ts
  packages/rspeedy/plugin-react/src/pluginReactLynx.ts
  packages/rspeedy/plugin-react/test/config.test.ts
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/enable-css-selector/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/css/scoped/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/chunk-splitting/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/default/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/filename/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/hot-update-json/nested/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/0.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/1.snap.txt
  packages/webpack/css-extract-webpack-plugin/test/hotCases/modules/export-default/__snapshot__/rspack/2.snap.txt
  packages/webpack/template-webpack-plugin/etc/template-webpack-plugin.api.md
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
  packages/webpack/template-webpack-plugin/test/__snapshots__/cases.test.ts.snap
Owners: @colinaaa

Update .changeset/evil-pigs-doubt.md
  .changeset/evil-pigs-doubt.md
Owners: none

remove default value
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/test/config/rsbuild.test.ts
Owners: @colinaaa

add test
  packages/rspeedy/core/test/config/rsbuild.test.ts
Owners: @colinaaa

feat(react): optimize the number and depth of snapshot
  packages/react/package.json
  packages/react/runtime/__test__/basic.test.jsx
  packages/react/runtime/lazy/internal.js
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/document.ts
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatch.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/opcodes.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/dynamicPartType.ts
  packages/react/transform/src/swc_plugin_list/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_snapshot.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_static_sibling_nested.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_static_sibling_with_snapshot.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_static_sibling_with_snapshot_nested.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_item_deferred_in_list.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_item_deferred_with_children_with_snapshot.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling_jsx.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling_jsx_dev.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/inline_style_literal.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/inline_style_literal_unknown_property.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/mode_development_spread.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element_dev.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_inject_implicit_flatten.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_wrap_dynamic_key.js
  pnpm-lock.yaml
Owners: @hzy, @gaoachao

refactor: extract swc_plugin_dynamic_import & swc_plugin_shake
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_dynamic_import/Cargo.toml
  packages/react/transform/crates/swc_plugin_dynamic_import/lib.rs
  packages/react/transform/crates/swc_plugin_dynamic_import/napi.rs
  packages/react/transform/crates/swc_plugin_dynamic_import/tests/__swc_snapshots__/lib.rs/should_not_import_lazy.js
  packages/react/transform/crates/swc_plugin_dynamic_import/tests/__swc_snapshots__/lib.rs/should_transform_import_call.js
  packages/react/transform/crates/swc_plugin_shake/Cargo.toml
  packages/react/transform/crates/swc_plugin_shake/is_component_class.rs
  packages/react/transform/crates/swc_plugin_shake/lib.rs
  packages/react/transform/crates/swc_plugin_shake/napi.rs
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/only_shake_class_like_react_component_class.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_access_inside_class_property_iife.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_constructor_and_used.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_indirect.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_render_and_used.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_state_and_remove_other.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_keep_with_nested_class.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_not_remove_in_scope_id.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_not_remove_test_with_other_runtime.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_remove_test.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_remove_unused_indirect.js
  packages/react/transform/crates/swc_plugin_shake/tests/__swc_snapshots__/lib.rs/should_remove_use_effect_param.js
  packages/react/transform/src/lib.rs
Owners: @gaoachao

chore: add empty changeset
  .changeset/easy-tires-shop.md
Owners: none

chore: add empty changeset
  .changeset/sixty-ants-act.md
Owners: none

chore(rspeedy): address review nits
  packages/rspeedy/core/etc/rspeedy.api.md
  packages/rspeedy/core/src/config/rsbuild/index.ts
  packages/rspeedy/core/src/config/server/index.ts
  packages/rspeedy/core/test/config/server.test-d.ts
  packages/rspeedy/core/test/config/validate.test.ts
Owners: @colinaaa

fix: fmt
  packages/rspeedy/core/src/config/server/index.ts
Owners: @colinaaa

chore: changeset
  .changeset/long-geese-fold.md
Owners: none

fix: api-report
  packages/rspeedy/core/etc/rspeedy.api.md
Owners: @colinaaa

test: fix rspack/test-tools
  packages/webpack/test-tools/src/hot-snapshot.ts
  packages/webpack/test-tools/src/suite.ts
Owners: @colinaaa

test: `import.meta.webpackHot` could be `undefined`
  packages/rspeedy/core/test/client/env.test-d.ts
Owners: @colinaaa

feat: support useCallback and useMemo as Background Action
  packages/react/runtime/src/internal.ts
  packages/react/transform/__test__/fixture.spec.js
  packages/react/transform/src/swc_plugin_ba/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_ba/mod.rs/background_action_fn_returning_hook.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_mtc/mod.rs/main_thread_multiply_export_decl.js
Owners: @hzy, @gaoachao

test: update snapshot
  packages/webpack/template-webpack-plugin/test/__snapshots__/cases.test.ts.snap
Owners: @colinaaa

fix: workaround rspack module bug
  packages/rspeedy/core/register/index.js
Owners: @colinaaa

dedupe
  pnpm-lock.yaml
Owners: none

dedupe
  pnpm-lock.yaml
Owners: none

fix
  packages/web-platform/web-rsbuild-server-middleware/src/web/index.ts
Owners: @pupiltong

chore: add @lynx-js/web-rsbuild-server-middleware
  .changeset/config.json
  .changeset/slow-radios-rescue.md
  packages/web-platform/tsconfig.json
  packages/web-platform/web-rsbuild-server-middleware/LICENSE.txt
  packages/web-platform/web-rsbuild-server-middleware/Notice.txt
  packages/web-platform/web-rsbuild-server-middleware/README.md
  packages/web-platform/web-rsbuild-server-middleware/package.json
  packages/web-platform/web-rsbuild-server-middleware/rsbuild.config.ts
  packages/web-platform/web-rsbuild-server-middleware/rslib.config.ts
  packages/web-platform/web-rsbuild-server-middleware/src/node/index.ts
  packages/web-platform/web-rsbuild-server-middleware/src/web/index.css
  packages/web-platform/web-rsbuild-server-middleware/src/web/index.ts
  packages/web-platform/web-rsbuild-server-middleware/test/basic.spec.ts
  packages/web-platform/web-rsbuild-server-middleware/tsconfig.json
  packages/web-platform/web-rsbuild-server-middleware/turbo.json
  packages/web-platform/web-rsbuild-server-middleware/vitest.config.ts
  pnpm-lock.yaml
Owners: @pupiltong

posix
  packages/web-platform/web-rsbuild-server-middleware/src/node/index.ts
Owners: @pupiltong

fix & add tests
  packages/web-platform/web-rsbuild-server-middleware/rsbuild.config.ts
  packages/web-platform/web-rsbuild-server-middleware/src/node/index.ts
  packages/web-platform/web-rsbuild-server-middleware/src/web/index.ts
  packages/web-platform/web-rsbuild-server-middleware/test/basic.spec.ts
  packages/web-platform/web-tests/package.json
  packages/web-platform/web-tests/rspack.config.js
  packages/web-platform/web-tests/tests/middleware.spec.ts
  pnpm-lock.yaml
Owners: @pupiltong

Create thin-dryers-kneel.md
  .changeset/thin-dryers-kneel.md
Owners: none

remove cors in flavor of #1808
  packages/web-platform/web-rsbuild-server-middleware/src/node/index.ts
Owners: @pupiltong

fix: change the generation conditions of the 'css.hot-update.json'
  .changeset/eleven-lizards-grin.md
  packages/webpack/css-extract-webpack-plugin/src/CssExtractRspackPlugin.ts
Owners: @colinaaa

Update .changeset/eleven-lizards-grin.md
  .changeset/eleven-lizards-grin.md
Owners: none

refactor: extract swc_plugin_compat
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_compat/Cargo.toml
  packages/react/transform/crates/swc_plugin_compat/is_component_class.rs
  packages/react/transform/crates/swc_plugin_compat/lib.rs
  packages/react/transform/crates/swc_plugin_compat/napi.rs
  packages/react/transform/crates/swc_plugin_compat/simplify_ctor_like_react_lynx_2.rs
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_element.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_element_compiler_only.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_element_embedded.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_element_embedded_compiler_only.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_add_component_is_import.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_change_runtime_pkg.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_handle_recursive.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_left_no_remove_component_element_attr.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_not_handle_jsx_member_expression.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_not_rename_view_in_scope.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_not_rename_view_redeclaration.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_remove_component_attr_regex.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_rename_view.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor_correct_order.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor_not_remain_local_decls.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor_not_remain_local_decls_with_macro.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_simplify_ctor_not_remain_local_decls_with_spread.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_transform_event_props_1.js
  packages/react/transform/crates/swc_plugin_compat/tests/__swc_snapshots__/lib.rs/should_transform_event_props_2.js
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat_post/mod.rs
Owners: @gaoachao

chore: add empty changeset
  .changeset/eleven-items-sleep.md
Owners: none

fix windows
  packages/web-platform/web-rsbuild-server-middleware/src/node/index.ts
  packages/web-platform/web-rsbuild-server-middleware/src/web/index.ts
  packages/web-platform/web-rsbuild-server-middleware/test/basic.spec.ts
Owners: @pupiltong

feat: support jsx inlined Background Action
  packages/react/transform/src/swc_plugin_ba/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_ba/mod.rs/background_action_jsx_inlined.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_mtc/mod.rs/main_thread_multiply_export_decl.js
Owners: @gaoachao

Update README.md
  README.md
Owners: none

test: update snapshot
  packages/rspeedy/core/test/plugins/dev.plugin.test.ts
Owners: @colinaaa

CODEOWNERS:

packages/web-platform/** @pupiltong
packages/webpack/** @colinaaa
packages/rspeedy/** @colinaaa
packages/react/** @hzy
packages/react/transform/** @gaoachao
benchmark/react/** @hzy
