Repository lynx-family/lynx-stack, changes with the owners that CODEOWNERS names for each.
All owners: @pupiltong, @colinaaa, @hzy, @gaoachao

test: update transform snapshot
  packages/react/transform/__test__/css/__snapshots__/transform-all-css-scoped-all.js
  packages/react/transform/__test__/css/__snapshots__/transform-all-css-scoped-modules.js
  packages/react/transform/__test__/css/__snapshots__/transform-all-css-scoped-none.js
  packages/react/transform/__test__/css/__snapshots__/transform-imports-css-scoped-all.js
  packages/react/transform/__test__/css/__snapshots__/transform-imports-css-scoped-modules.js
  packages/react/transform/__test__/css/__snapshots__/transform-imports-css-scoped-none.js
  packages/react/transform/__test__/css/__snapshots__/transform-jsx-css-scoped-all-lazy-bundle.js
  packages/react/transform/__test__/css/__snapshots__/transform-jsx-css-scoped-all.js
  packages/react/transform/__test__/css/__snapshots__/transform-jsx-css-scoped-modules-lazy-bundle.js
  packages/react/transform/__test__/css/__snapshots__/transform-jsx-css-scoped-modules.js
  packages/react/transform/__test__/css/__snapshots__/transform-jsx-css-scoped-none-lazy-bundle.js
  packages/react/transform/__test__/css/__snapshots__/transform-jsx-css-scoped-none.js
  packages/react/transform/__test__/css/__snapshots__/transform-jsx-defaults.js
  packages/react/transform/__test__/fixture.spec.js
Owners: @gaoachao

test: update webpack snapshot
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/hook/useContext/__snapshot__/rspack/1.snap.txt
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/hook/useState/__snapshot__/rspack/1.snap.txt
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/jsx/basic/__snapshot__/rspack/1.snap.txt
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/jsx/basic/__snapshot__/rspack/2.snap.txt
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/jsx/recovery/__snapshot__/rspack/2.snap.txt
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/jsx/value/__snapshot__/rspack/1.snap.txt
  packages/webpack/react-refresh-webpack-plugin/test/hotCases/jsx/value/__snapshot__/rspack/2.snap.txt
Owners: @colinaaa

fix(transform): reset CSS variables globally to prevent inheritance issues
  packages/third-party/tailwind-preset/src/plugins/lynx/defaults.ts
Owners: none

feat(example): parent-child inheritance of CSS variables
  examples/tailwindcss/src/App.tsx
Owners: none

chore: update tailwind.config.ts for better typing
  examples/tailwindcss/tailwind.config.ts
Owners: none

chore: bump tailwindcss to `3.4.12` for correct defaults injecting behavior
  packages/third-party/tailwind-preset/package.json
Owners: none

chore: add changeset
  .changeset/modern-squids-love.md
Owners: none

fix: add version bump in changeset, rm redundant function in example
  .changeset/modern-squids-love.md
  examples/tailwindcss/src/App.tsx
Owners: none

chore: revert tailwindcss version bump
  .changeset/modern-squids-love.md
  packages/third-party/tailwind-preset/package.json
Owners: none

fix: svg style
  packages/web-platform/web-elements/src/XSvg/x-svg.css
Owners: @pupiltong

more tests
  packages/react/runtime/__test__/snapshot/ref.test.jsx
  packages/react/runtime/__test__/utils/globals.js
Owners: @hzy

feat: enable lynxUIPlugins by default
  packages/third-party/tailwind-preset/src/lynx.ts
Owners: none

test: ensure uiVariants plugin is enabled by default
  packages/third-party/tailwind-preset/src/__tests__/lynx.test.ts
Owners: none

docs: update README.md and uiVariants.md to note default enabled behavior
  packages/third-party/tailwind-preset/README.md
  packages/third-party/tailwind-preset/docs/plugins/lynx-ui/uiVariants.md
Owners: none

chore: add changeset
  .changeset/chatty-eyes-rescue.md
Owners: none

ci(publish): enable npm trusted publishing
  .github/workflows/deploy-main.yml
Owners: none

fix: svg style
  packages/web-platform/web-elements/src/XSvg/x-svg.css
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/svg/with-position/index-chromium-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/svg/with-position/index-firefox-linux.png
  packages/web-platform/web-tests/tests/react.spec.ts-snapshots/svg/with-position/index-webkit-linux.png
  packages/web-platform/web-tests/tests/react/basic-element-svg-with-position/index.jsx
Owners: @pupiltong

refactor: use resolveUIPluginEntries as single source of truth
  packages/third-party/tailwind-preset/src/__tests__/core.test.ts
  packages/third-party/tailwind-preset/src/__tests__/lynx.test.ts
  packages/third-party/tailwind-preset/src/core.ts
  packages/third-party/tailwind-preset/src/lynx.ts
Owners: none

ci(release): remove `npm i -g npm@latest`
  .github/workflows/deploy-main.yml
Owners: none

docs: refine wording
  .changeset/chatty-eyes-rescue.md
  packages/third-party/tailwind-preset/README.md
  packages/third-party/tailwind-preset/docs/plugins/lynx-ui/uiVariants.md
Owners: none

feat(web): support lazy bundle with CSSOG
  .changeset/shiny-toes-punch.md
  packages/web-platform/web-mainthread-apis/src/createMainThreadGlobalThis.ts
  packages/web-platform/web-mainthread-apis/src/prepareMainThreadAPIs.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-tests/tests/react.spec.ts
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-exchange-class/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-inline-css-change-same-time/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-inline-remove-css-remove-inline/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-multi-level-selector/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-all/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-css-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-css-and-style-collapsed/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-remove-inline-style-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false-type-selector/index.jsx
  packages/web-platform/web-tests/tests/react/basic-lazy-component-css-selector-false.config.ts
  packages/web-platform/web-tests/tests/react/basic.config.ts
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-exchange-class/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-exchange-class/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-css-change-same-time/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-css-change-same-time/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-remove-css-remove-inline/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-inline-remove-css-remove-inline/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-multi-level-selector/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-multi-level-selector/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-all/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-all/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-reuse-css/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-style-collapsed/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-css-and-style-collapsed/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-inline-style-and-reuse-css/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-remove-inline-style-and-reuse-css/index.jsx
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-type-selector/index.css
  packages/web-platform/web-tests/tests/react/config-lazy-component-css-selector-false-type-selector/index.jsx
Owners: @pupiltong

refactor: extract swc_plugin_directive_dce & swc_plugin_define_dce
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_define_dce/Cargo.toml
  packages/react/transform/crates/swc_plugin_define_dce/lib.rs
  packages/react/transform/crates/swc_plugin_define_dce/napi.rs
  packages/react/transform/crates/swc_plugin_directive_dce/Cargo.toml
  packages/react/transform/crates/swc_plugin_directive_dce/lib.rs
  packages/react/transform/crates/swc_plugin_directive_dce/napi.rs
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_do_nothing_in_mixed_target.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_do_nothing_when_arrow_function_return_directive.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_fn_body_in_component_props.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_fn_decl.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_js_only_but_keep_constructor.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_js_only_class_method.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_js_only_class_property.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_js_only_embedded.js
  packages/react/transform/crates/swc_plugin_directive_dce/tests/__swc_snapshots__/lib.rs/should_eliminate_native_modules_in_default_params.js
  packages/react/transform/crates/swc_plugins_shared/Cargo.toml
  packages/react/transform/crates/swc_plugins_shared/lib.rs
  packages/react/transform/crates/swc_plugins_shared/target.rs
  packages/react/transform/crates/swc_plugins_shared/target_napi.rs
  packages/react/transform/src/lib.rs
  packages/react/transform/src/swc_plugin_compat/mod.rs
  packages/react/transform/src/swc_plugin_list/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_worklet/gen_stmt.rs
  packages/react/transform/src/swc_plugin_worklet/mod.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_be_able_to_define_object.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_keep_only_true_branch.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_keep_only_true_branch_if_else_if.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_keep_only_true_branch_with_unary_operator.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_not_crash_when_eval_failed.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_not_eval_bad_case_modifying.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_not_replace_to_lit_when_resolved.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_replace_to_lit.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_define_dce/mod.rs/should_replace_to_lit_recur.js
Owners: @gaoachao

fix: doctest
  packages/react/transform/crates/swc_plugin_define_dce/napi.rs
Owners: @gaoachao

chore: add empty changeset
  .changeset/tender-months-fall.md
Owners: none

fix: add defensive check for UI plugins
  packages/third-party/tailwind-preset/src/lynx.ts
Owners: none

docs: refine wording
  packages/third-party/tailwind-preset/docs/plugins/lynx-ui/uiVariants.md
Owners: none

Update packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
  packages/web-platform/web-mainthread-apis/src/utils/processStyleInfo.ts
Owners: @pupiltong

test: add tests for createLynxPreset defensive branches
  packages/third-party/tailwind-preset/src/__tests__/lynx.test.ts
Owners: none

chore: temporarily skip transform benchmarks
  packages/react/transform/__test__/basic.bench.js
Owners: @gaoachao

chore: add empty changeset
  .changeset/rotten-kings-worry.md
Owners: none

test: make log assertion less brittle
  packages/third-party/tailwind-preset/src/__tests__/lynx.test.ts
Owners: none

fix(rspeedy/react): update peerDependencies
  .changeset/chilly-carrots-marry.md
  packages/rspeedy/plugin-react/package.json
Owners: @colinaaa

fix(rspeedy/core): `output.cssModules.localIdentName` defaults to `[local]-[hash:base64:6]`
  .changeset/fluffy-suits-throw.md
  packages/rspeedy/core/src/config/defaults.ts
  packages/rspeedy/core/src/config/output/css-modules.ts
  packages/rspeedy/core/test/plugins/output.plugin.test.ts
Owners: @colinaaa

fix: eslint
  .changeset/cool-flowers-boil.md
  packages/react/runtime/src/list.ts
  packages/rspeedy/core/src/config/loadConfig.ts
  packages/rspeedy/core/test/cli/config.test.ts
  packages/webpack/template-webpack-plugin/src/LynxTemplatePlugin.ts
Owners: @hzy, @colinaaa

feat(react): optimize the number and depth of snapshot
  packages/react/package.json
  packages/react/runtime/lazy/internal.js
  packages/react/runtime/src/backgroundSnapshot.ts
  packages/react/runtime/src/document.ts
  packages/react/runtime/src/hydrate.ts
  packages/react/runtime/src/internal.ts
  packages/react/runtime/src/lifecycle/patch/commit.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatch.ts
  packages/react/runtime/src/lifecycle/patch/snapshotPatchApply.ts
  packages/react/runtime/src/opcodes.ts
  packages/react/runtime/src/renderToOpcodes/index.ts
  packages/react/runtime/src/snapshot.ts
  packages/react/runtime/src/snapshot/dynamicPartType.ts
  packages/react/transform/src/swc_plugin_list/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/mod.rs
  packages/react/transform/src/swc_plugin_snapshot/slot_marker.rs
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_snapshot.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_static_sibling_nested.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_static_sibling_with_snapshot.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_in_view_with_static_sibling_with_snapshot_nested.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_item_deferred_in_list.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_list/mod.rs/should_transform_list_item_deferred_with_children_with_snapshot.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling_jsx.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_component_with_static_sibling_jsx_dev.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/basic_expr_container_with_static_sibling.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/inline_style_literal.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/inline_style_literal_unknown_property.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/mode_development_spread.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_component.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/page_element_dev.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_inject_implicit_flatten.js
  packages/react/transform/tests/__swc_snapshots__/src/swc_plugin_snapshot/mod.rs/should_wrap_dynamic_key.js
  pnpm-lock.yaml
Owners: @hzy, @gaoachao

feat(web-platform): use same chunk format, aka commonjs, for web with iOS/Andorid
  .changeset/better-insects-grin.md
  packages/rspeedy/core/src/plugins/chunkLoading.plugin.ts
  packages/rspeedy/core/test/plugins/chunkLoading.plugin.test.ts
  packages/web-platform/web-tests/rspack.config.js
Owners: @colinaaa, @pupiltong

refactor: extract swc_plugin_dynamic_import
  Cargo.lock
  packages/react/transform/Cargo.toml
  packages/react/transform/crates/swc_plugin_dynamic_import/Cargo.toml
  packages/react/transform/crates/swc_plugin_dynamic_import/lib.rs
  packages/react/transform/crates/swc_plugin_dynamic_import/napi.rs
  packages/react/transform/crates/swc_plugin_dynamic_import/tests/__swc_snapshots__/lib.rs/should_not_import_lazy.js
  packages/react/transform/crates/swc_plugin_dynamic_import/tests/__swc_snapshots__/lib.rs/should_transform_import_call.js
  packages/react/transform/src/lib.rs
Owners: @gaoachao

chore: add empty changeset
  .changeset/good-rivers-taste.md
Owners: none

fix: add `package-manager-cache: false`
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-main.yml
  .github/workflows/nodejs-dependencies.yml
  .github/workflows/test.yml
  .github/workflows/workflow-bench.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-bundle-analysis.yml
  .github/workflows/workflow-test.yml
  .github/workflows/workflow-website.yml
Owners: none

fix: lazy component load error
  .changeset/hip-coats-drop.md
  packages/web-platform/web-constants/src/utils/generateTemplate.ts
Owners: @pupiltong

CODEOWNERS:

packages/web-platform/** @pupiltong
packages/webpack/** @colinaaa
packages/rspeedy/** @colinaaa
packages/react/** @hzy
packages/react/transform/** @gaoachao
benchmark/react/** @hzy
